* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: monospace, sans-serif;
    user-select: none;
}

#root {
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: stretch;
}

.text {
    width: 40%;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    /*align-content: flex-start;*/
}

.word {
    margin: 5px 0;

    display: flex;
}

.char {
    position: relative;
    min-width: 15px;
    height: 30px;

    margin: 1px;
    padding: 1px;

    border-radius: 2px;

    color: #4E4E4E;
    font-size: 25px;
}


.char.active:after{
    content: '';

    position: absolute;
    bottom: 0px;
    right: 0;

    height: 3px;
    width: 15px;

    background: #1877F2;
}

.right {
    background: #e7fbd3;
}

.wrong {
    background: pink;
}

.corrected {
    background: #ffe9b2;
}

.default {
    background: transparent;
}

.focusDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    flex-direction: column;
}

.info {
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: grey
}
