.char {
    position: relative;
    margin: 1px;
    padding: 1px;
    color: #4E4E4E;
    font-size: 25px;
    height: 30px;
    min-width: 15px;
}


.char.active:after{
    content: '';
    position: absolute;
    bottom: 2px;
    right: 0;

    height: 3px;
    width: 15px;
    background: #1877F2;
}

.right {
    background: #e7fbd3;
}
